<head>
  <meta charset="utf-8">
  <title>PipesProject</title>
  <base href="/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div class="container my-3">
    <h2>Ejercicio Pipes</h2>
    <hr>
  
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Variable</th>
          <th scope="col">Pipe</th>
          <th scope="col">Resultado</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <td>{{ name }} </td>
          <td>uppercase  </td>
          <td>{{ name | uppercase  }} </td>
        </tr>
  
        <tr>
          <td>{{ name }} </td>
          <td>TitleCasePipe  </td>
          <td>{{ name | titlecase  }} </td>
        </tr>

        <tr>
          <td>{{ fecha }} </td>
          <td>FechasPor  </td>
          <td>{{ fecha | fechas  }} </td>
        </tr>

        <tr>
          <td>{{ fechaAnterior }} </td>
          <td>FechasPor  </td>
          <td>{{ fechaAnterior | fechas  }} </td>
        </tr>

        <tr>
          <td>{{ fechaAnterior2 }} </td>
          <td>FechasPor  </td>
          <td>{{ fechaAnterior2 | fechas  }} </td>
        </tr>

        <tr>
          <td>{{ fechaAnterior3 }} </td>
          <td>FechasPor  </td>
          <td>{{ fechaAnterior3 | fechas  }} </td>
        </tr>

        <tr>
          <td>{{ fechaAnterior4 }} </td>
          <td>FechasPor  </td>
          <td>{{ fechaAnterior4 | fechas  }} </td>
        </tr>

        <tr>
          <td>{{ fechaAnterior5 }} </td>
          <td>FechasPor  </td>
          <td>{{ fechaAnterior5 | fechas  }} </td>
        </tr>

        <tr>
          <td>{{ fechaAnterior6 }} </td>
          <td>FechasPor  </td>
          <td>{{ fechaAnterior6 | fechas  }} </td>
        </tr>

        <tr>
          <td>{{ texto }} </td>
          <td>Texto  </td>
          <td>{{ texto | texto  }} </td>
        </tr>

        <tr>
          <td>{{ num1 }} </td>
          <td>Numero  </td>
          <td>{{ num1 | numero  }} </td>
        </tr>

        <tr>
          <td>{{ num2 }} </td>
          <td>Numero  </td>
          <td>{{ num2 | numero  }} </td>
        </tr>
  
  
        
      </tbody>
    </table>
  
  </div>
</body>
